@model IEnumerable<Assignment.Models.vc_prices>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "Create")
    <span class="nav navbar-nav navbar-right">
        @Html.ActionLink("Add Dummy Price", "New")
    </span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pricedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delivdat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pricedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivdat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.surrogate }) |
            @Html.ActionLink("Details", "Details", new { id=item.surrogate }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.surrogate })
        </td>
    </tr>
}

</table>
